/* điện thoại */
@media screen and (max-width:500px) {
    body{
        width: 100vw;
    }
    .loading img{
        width: 70%;
    }   
    .header_category, .header_userLogin{
        display: none;
    }
        .Menu{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .Menu img{
            height: 80%;
        }
    .header_logo{
        width: 80%;
    }
    /* tam an thanh bar */
    main{
        background-color: white !important;
        height: fit-content !important;
        flex-wrap: wrap-reverse;
    }
    .taskbar_Tablet{
        display: none !important;
    }
    .main_tool{
        transform: scaleX(0);
        transition: 1s;
        width: 100vw !important;
        top:0px;
        z-index: 100;
        transform-origin: left;
        opacity: 0.9;
    }
    .main_edit{
        display: block;
        padding-top: 30px;
    }
    .main_dropImg{
        height: fit-content;
        padding-bottom: 20px;
    }
    .main_edit, .main_dropImg{
        width: 100%;
    }
    .footer_content_1{
        flex-wrap: wrap;
        padding: 10px;
    }
    .footer_content_logo, .footer_content_contart, .footer_content_member{
        width: 100%;
    }
    .footet_content_2{
        font-size: 12px;
        padding: 0px 30px;
        padding-bottom: 15px;
    }
    .tutorial video, h1:first-child{
        display: block;
    }
    .tutorial h1:last-child{
        display: none;
    }
    /* taskbar */
    .taskbar{
        display: block;
        background-color: black;
    }
}
/* máy tính bảng */
@media screen and (min-width:500px) and (max-width:1000px){
    main{
        background-color: white;
    }
    .taskbar{
        display: none !important;
    }
    .main_dropImg{
        width: 40vw;
    }
    .main_edit{
        width: 55vw;
    }
    .main_tool{
        transform-origin: left;
        transition: 0.5s;
        display: none;
        z-index: 200;
        opacity: 0.9;
        height: 980px !important;
    }
    .taskbar_Tablet{
        width: 5vw;
        background-color: rgb(21, 21, 21);
    }
    .taskbar_Tablet img{
        width: 100%;
    }
}
/* máy tính */
@media screen and (min-width:1001px) {
    .main_tool{
        transform: scaleX(1) !important;
        position: relative !important;
        height: 700px !important;
    }
    .taskbar{
        display: none !important;
    }
    .taskbar_Tablet{
        display: none !important;
    }
    .main_dropImg{
        width: 35vw;
    }
    .main_edit{
        width: 40vw;
    }
    .main_tool{
        width: 25vw !important;
    }
}