.toggleBtn {
    position: relative;
    width: 60px;
    height: 30px;
    background-color: #fff;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
    cursor: pointer;
    border-radius: 50px;
}
.toggleBtn::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    left: 1px;
    background-color: rgb(9, 210, 233);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
}
.size-button.active:before{
    left: calc(100% - 28px - 1px);
    background-color: #4070f4;
}
.size-box.show{
    transform: scaleY(1);
}
.trans-button.active::before{
    left: calc(100% - 28px - 1px);
    background-color: #4070f4;
}
.transform-box.show{
    transform: scaleY(1);
}
.add-button.active::before{
    left: calc(100% - 28px - 1px);
    background-color: #4070f4;
}
.watermark-box.show{
    transform: scaleY(1);
}
.trim-button.active::before{
    left: calc(100% - 28px - 1px);
    background-color: #4070f4;
}
.trim-box.show{
    transform: scaleY(1);
}
.rename-button.active::before{
    left: calc(100% - 28px - 1px);
    background-color: #4070f4;
}
.rename-box.show{
    transform: scaleY(1);
}
.remove_background.active::before{
    left: calc(100% - 28px - 1px);
    background-color: #4070f4;
}
.remove_background_box.show{
    transform: scaleY(1);
}
.Color_button.active::before{
    left: calc(100% - 28px - 1px);
    background-color: #4070f4;
}
.color_box.show{
    transform: scaleY(1);
}
.effect_button.active::before{
    left: calc(100% - 28px - 1px);
    background-color: #4070f4;
}
.effect_box.show{
    transform: scaleY(1);
}
.hidden_box{
    display: flex !important;
}